@mixin size($width:200px, $height:200px, $margin:0, $padding:0) {
    width: $width;
    height: $height;
    margin: $margin;
    padding: $padding;
}

@mixin shadowEffect {

    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);

    &:hover {
        transform: translate(5px, 5px);
        transition-duration: 0.4s;
        box-shadow: none;
    }
}

@mixin textWhiteBorder {
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}