$stroke : #fff;
$svg_1_stroke : #000;
$svg_2_stroke : #000;
$svg_3_stroke : #000;
$svg_4_stroke : #000;
$svg_5_stroke : #000;
$card_width:400px;
$card_height:500px;
$default_deg:30deg;

@mixin font_style {
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    font-size: 72px;
    // font-family: '細明體';
}

@mixin card_to_middle_mixin($x:0, $y:0) {
    transform: rotate(0) translateX($x);
}

@mixin rotate_times ($times, $size:1, $translateX:0) {

    transform: rotate($default_deg + $times * -360deg) scale($size) translateX($translateX);
}

@mixin size ($w, $h, $bgc:#fff, $border:1px solid #000, $bdr:0) {
    width: $w;
    height: $h;
    background-color: $bgc;
    border: $border;
    border-radius: $bdr;
}

@mixin card_anime {
    z-index: 9;
    animation-name: card_to_middle;
    // animation-timing-function: linear;
    animation-duration: 1.5s;
}

@mixin disappear {
    animation-name: up_to_disappear;
    animation-timing-function: linear;
    animation-duration: 0.5s;
}

@keyframes card_to_middle {
    0% {}

    33% {
        transform: rotate(-15deg);
    }

    66% {
        // transform: rotate(0) translateX(600px);
        transform: rotate(15deg);
    }

    100% {
        // transform: rotate(0) translateX(600px);
        transform: rotate(-15deg);
    }
}

@keyframes up_to_disappear {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-100vh)
    }
}

@keyframes left_to_disappear {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

@keyframes guruguru {
    0% {
        @include rotate_times(0);
    }

    33% {
        @include rotate_times(2, 2);
    }

    66% {
        @include rotate_times(4, 6);
    }

    100% {
        @include rotate_times(6, 15);
    }
}

.disappear {
    @include disappear;
}

.anime_guruguru {
    @include card_anime;
}

html,
body {
    padding: 0;
    margin: 0;
}

nav {
    .logo {
        width: 60px;
        height: 60px;
        background-image: url('https://pht.qoo-static.com/NuyOBNU1CGmbWlUxjDZOfUMZ43qjtUro8w2FhFU6YRwAoT7rh-VdsYhuPCV_lbI-7j8=w300');
        background-position: center;
        background-size: cover;
    }
}

main {

    #react-card {
        width: 100%;
        height: 100vh;
        overflow: hidden;

        >div {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 100px;
            // background-color: brown;

            #category-card1 {
                @include font_style;
                @include size($card_width, $card_height, #faa, $bdr:20px);
                transform: rotate($default_deg);
            }

            #category-card2 {
                @include font_style;
                @include size($card_width, $card_height, #aaa, $bdr:20px);
                transform: rotate($default_deg);
            }

            #category-card3 {
                @include font_style;
                @include size($card_width, $card_height, #aaf, $bdr:20px);
                transform: rotate($default_deg);
            }

            #category-card4 {
                @include font_style;
                @include size($card_width, $card_height, #ffa, $bdr:20px);
                transform: rotate($default_deg);
            }

            #category-card5 {
                @include font_style;
                @include size($card_width, $card_height, #e5e, $bdr:20px);
                transform: rotate($default_deg);
            }
        }
    }
}
