@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/earlyaccess/cwtexyen.css');

html,
body {
    padding: 0;
    margin: 0;
}

#react-main {
    width: 100%;
    height: 100vh;

    >div {
        background-image: url('https://images.pexels.com/photos/4245826/pexels-photo-4245826.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-attachment: fixed;
        // width: 100%;
        min-height: 100vh;
        overflow: hidden;

        nav {
            width: 100%;
            height: 120px;

            img {
                max-width: 100%;
                max-height: 100px;
                padding: 10px;
            }
        }

        .undone-page {
            width: 100%;
            height: calc(100vh - 120px);
            // position: fixed;
            bottom: 0;
            // padding: 20px;
            background-color: rgba(255, 255, 255, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            @include textWhiteBorder;
            font-size: 72px;
        }

        .container {
            // index
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: calc(100vh - 120px);

            .row {
                .columns {
                    ul.ca-menu {
                        display: flex;
                        padding: 0;
                        list-style: none;

                        li {
                            width: 250px;
                            height: 400px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-evenly;
                            cursor: pointer;
                            color: black;
                            background-color: rgba(255, 255, 255, 0.5);
                            padding: 0 25px;
                            transition: all 300ms linear;

                            &:hover {
                                color: #fff;
                                background: rgba(0, 0, 0, 0.8);

                                h2 {
                                    color: #55a2a6;
                                }
                            }

                            i {
                                font-size: 72px;
                            }

                            div.ca-content {
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                >* {
                                    text-align: center;
                                }

                            }
                        }
                    }
                }
            }

        }

        .person-container {
            width: calc(100% - 40px);
            height: calc(100vh - 120px - 40px);
            // background-color: rgba(127, 127, 252, 0.7);
            background-color: rgba(255, 255, 255, 0.7);
            margin: 20px;
            overflow-y: scroll;

            .main-content {
                display: flex;
                justify-content: center;
                padding: 20px;

                // flex-direction: column;
                .img-face {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .person-desc-face {
                    // @include textWhiteBorder;
                    width: 50%;

                    .person-desc {
                        font-size: 28px;
                    }

                }
            }

            .sub-content {
                display: flex;
                justify-content: center;
                padding: 20px;

                // flex-direction: column;
                .img-face {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .person-desc-face {
                    // @include textWhiteBorder;
                    width: 50%;

                    .person-desc {
                        font-size: 28px;
                    }

                }
            }
        }

        .inner-container {

            // 功能頁
            >ul {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                padding: 0;
                list-style: none;

                li {
                    padding: 20px;

                    section.display-block {
                        @include size(500px, 300px);
                        border: 1px solid #000;
                        border-radius: 15px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: $sectionBGC;
                        cursor: pointer;
                        @include shadowEffect;
                        color: $sectionFontColor;

                        &:hover {
                            background-color: $sectionBGCHover;
                        }

                        h1 {
                            @include textWhiteBorder;
                            font-size: 72px;
                            font-family: 'cwTeXYen';
                        }

                        i {
                            font-size: 36px;
                        }
                    }
                }
            }

        }

        .pomodoro {
            // 番茄鐘
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;


            .clock {
                width: 30rem;
                height: 30rem;
                border: 20px solid white;
                border-radius: 50%;
                // margin: 50px auto;
                position: relative;
                padding: 2rem;
                background-color: rgba(255, 255, 170, 0.5);
                box-shadow:
                    0 0 0 4px rgba(0, 0, 0, 0.1),
                    inset 0 0 0 3px #EFEFEF,
                    inset 0 0 10px black,
                    0 0 10px rgba(0, 0, 0, 0.2);

                .clock-face {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transform: translateY(-3px);

                    .hour-hand {
                        width: 50%;
                        height: 15px;
                        background: black;
                        position: absolute;
                        top: 50%;
                        transform: rotate(calc((90deg + 0deg)));
                        transform-origin: right;
                        border-radius: 15px;
                    }

                    .min-hand {
                        width: 50%;
                        height: 10px;
                        background: black;
                        position: absolute;
                        top: 50%;
                        transform: rotate(calc((90deg + 0deg)));
                        transform-origin: right;
                        border-radius: 10px;
                    }

                    .second-hand {
                        width: 50%;
                        height: 5px;
                        background: black;
                        position: absolute;
                        top: 50%;
                        transform: rotate(calc((90deg + 0deg)));
                        transform-origin: right;
                        border-radius: 5px;
                    }
                }
            }

            .number-clock {
                border-radius: 10px;
                border: 10px solid #fff;
                // padding: 10px;

                .number-clock-face {
                    @include textWhiteBorder;
                    padding: 10px;
                    // border-radius: 10px;
                    // border: 10px solid #fff;
                    display: flex;
                    background-color: rgba(84, 0, 110, 0.5);
                    font-size: 72px;

                }
            }

        }
    }

}