@keyframes up_to_disappear {
    0% {
        transform: translateY(0vh);
    }

    33% {
        transform: translateY(-10vh);
    }

    66% {
        transform: translateY(-20vh);
    }

    100% {
        transform: translateY(-100vh);
    }
}

.up_to_disappear {
    animation-name: up_to_disappear;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}

html,
body {
    padding: 0;
    margin: 0;
}

#react-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    nav{
        position: fixed;
        top: 0;
        left: 0;
    }

    .container {

        .row {
            .columns {
                ul.ca-menu {
                    display: flex;

                    li {
                        width: 200px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        list-style: none;
                        cursor: pointer;
                        color: black;
                        background-color: #fff;
                        padding: 50px;
                        transition: all 300ms linear;

                        &:hover {
                            color: #fff;
                            background: #000;

                            h2 {
                                color: #55a2a6;
                            }
                        }

                        // &::selection{
                        //     color: #fff;
                        //     background: #55a2a6;
                        // }

                        i {
                            font-size: 72px;
                        }

                        div.ca-content {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            >* {
                                text-align: center;
                            }

                        }
                    }
                }
            }
        }
    }
}