@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/earlyaccess/cwtexyen.css');

html,
body {
    padding: 0;
    margin: 0;
}

#react-main {
    @include size(100%, 100vh);

    >div {
        background-image: url('https://images.pexels.com/photos/4245826/pexels-photo-4245826.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
        overflow: hidden;

        .loading-effect {
            @include size(100%, 100vh);
            position: fixed;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9;

            @include loadingEffect;
        }

        nav {
            width: 100%;
            height: 120px;

            img {
                max-width: 100%;
                max-height: 100px;
                padding: 10px;
            }
        }

        .undone-page {
            @include size($pageWidth, $pageHeightMinusNav);
            @include textWhiteBorder;
            background-color: rgba(255, 255, 255, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 72px;
        }

        .container {
            // index
            @include size($pageWidth, $pageHeightMinusNav);
            display: flex;
            justify-content: center;
            align-items: center;

            .row {
                .columns {
                    ul.ca-menu {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        padding: 0;
                        list-style: none;

                        li {
                            a {

                                @include size(250px, 400px, 0, 0 25px);
                                display: flex;
                                border-radius: 10px;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-evenly;
                                cursor: pointer;
                                color: black;
                                background-color: rgba(255, 255, 255, 0.5);
                                transition: all 300ms linear;

                                &:hover {
                                    color: #fff;
                                    background: rgba(0, 0, 0, 0.8);

                                    h2 {
                                        color: #55a2a6;
                                    }
                                }

                                i {
                                    font-size: 72px;
                                }

                                div.ca-content {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;

                                    >* {
                                        text-align: center;
                                    }

                                }
                            }
                        }
                    }
                }
            }

        }

        .person-container {
            width: calc(100% - 40px);
            height: calc(100vh - 120px - 40px);
            // background-color: rgba(127, 127, 252, 0.7);
            background-color: rgba(255, 255, 255, 0.7);
            margin: 20px;
            overflow-y: scroll;

            .main-content {
                display: flex;
                justify-content: center;
                padding: 20px;

                >* {
                    padding: 10px;
                }

                // flex-direction: column;
                .img-face {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .person-desc-face {
                    // @include textWhiteBorder;
                    width: 50%;

                    .person-desc {
                        font-size: 28px;
                    }

                }
            }

            .sub-content {
                display: flex;
                justify-content: center;
                padding: 20px;

                >* {
                    padding: 10px;
                }

                // flex-direction: column;
                .img-face {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .person-desc-face {
                    // @include textWhiteBorder;
                    width: 50%;

                    .person-desc {
                        font-size: 28px;
                    }

                }
            }
        }

        .inner-container {
            width: 100%;
            height: $pageHeightMinusNav;

            // 功能頁
            >ul {
                @include size(100%, 100%);
                @include sectionMedia;
                list-style: none;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >a {
                        // react route 增加的一層a
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        section.display-block {
                            @include size(500px, 300px);
                            border: 1px solid #000;
                            border-radius: 15px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            background-color: $sectionBGC;
                            cursor: pointer;
                            @include shadowEffect;
                            color: $sectionFontColor;

                            &:hover {
                                background-color: $sectionBGCHover;
                            }

                            h1 {
                                @include textWhiteBorder;
                                font-size: 72px;
                                font-family: 'cwTeXYen';
                            }

                            i {
                                font-size: 36px;
                            }
                        }
                    }
                }
            }

        }

        .pomodoro {
            // 番茄鐘
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;


            .clock {
                width: 30rem;
                height: 30rem;
                border: 20px solid white;
                border-radius: 50%;
                // margin: 50px auto;
                position: relative;
                padding: 2rem;
                background-color: rgba(255, 255, 170, 0.5);
                box-shadow:
                    0 0 0 4px rgba(0, 0, 0, 0.1),
                    inset 0 0 0 3px #EFEFEF,
                    inset 0 0 10px black,
                    0 0 10px rgba(0, 0, 0, 0.2);

                .clock-face {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transform: translateY(-3px);

                    .hour-hand {
                        width: 50%;
                        height: 15px;
                        background: black;
                        position: absolute;
                        top: 50%;
                        transform: rotate(calc((90deg + 0deg)));
                        transform-origin: right;
                        border-radius: 15px;
                    }

                    .min-hand {
                        width: 50%;
                        height: 10px;
                        background: black;
                        position: absolute;
                        top: 50%;
                        transform: rotate(calc((90deg + 0deg)));
                        transform-origin: right;
                        border-radius: 10px;
                    }

                    .second-hand {
                        width: 50%;
                        height: 5px;
                        background: black;
                        position: absolute;
                        top: 50%;
                        transform: rotate(calc((90deg + 0deg)));
                        transform-origin: right;
                        border-radius: 5px;
                    }
                }
            }

            .number-clock {
                border-radius: 10px;
                border: 10px solid #fff;
                // padding: 10px;

                .number-clock-face {
                    @include textWhiteBorder;
                    padding: 10px;
                    // border-radius: 10px;
                    // border: 10px solid #fff;
                    display: flex;
                    background-color: rgba(84, 0, 110, 0.5);
                    font-size: 72px;

                }
            }

        }

        .vocabulary-container {
            @include size($pageWidth, $pageHeightMinusNav);
            display: grid;
            gap: 10px;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(5, 1fr);
            // grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            grid-template-areas:
                "V1 V2 V3 V4 V5 "
                "V6 V7 V8 V9 V10 "
                ". . B . . "
            ;

            @for $i from 1 through 10 {

                .vocabulary#{$i} {
                    @include size(100%, 100%);
                    grid-area: V#{$i};
                    background-color: rgba(255, 255, 255, 0.4);
                    display: grid;
                    gap: 10px;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                    grid-template-columns: 1fr;
                    grid-template-areas:
                        "VS"
                        "ES"
                        "ES"
                        "ES"
                        "ES"
                    ;
                    overflow: auto;

                    .vocabulary-section {
                        grid-area: VS;
                        font-size: 36px;
                        background-color: rgba(255, 0, 0, 0.3);
                        padding: 0 10px;
                        text-align: center;
                    }

                    .explain-section {
                        grid-area: ES;
                        font-size: 22px;
                        padding: 0 10px;
                    }
                }
            }

            .new-vocabulary {
                @include size(100%, 100%);
                grid-area: B;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                @include smoothXY;

                button {
                    font-size: 36px;
                    // border-radius: 10px;
                }
            }

        }

        .email-container {
            width: calc(100% - 40px);
            height: calc(100vh - 120px - 40px);
            // background-color: rgba(127, 127, 252, 0.7);
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            .email-mid {
                width: 40%;
                padding: 20px;
                // height: 100%;
                background-color: rgba(255, 255, 255, 0.7);
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                border-radius: 10px;

                >* {
                    padding: 10px;
                }

                label {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    font-size: 48px;

                    select {
                        text-align: center;
                        width: 80%;
                        height: 2.5rem;
                        font-size: 2rem;
                    }

                    // input {
                    //     width: 80%;
                    //     height: 2.5rem;
                    //     font-size: 2rem;
                    // }

                    textarea {
                        width: 80%;
                        font-size: 1.5rem;
                    }
                }

                .action {
                    display: flex;
                    justify-content: space-evenly;

                    button {
                        font-size: 28px;
                    }
                }
            }
        }
    }

}