@-webkit-keyframes guruguru {
  0% {
    transform: rotate(30deg) scale(1) translateX(0);
  }

  33% {
    transform: rotate(750deg) scale(5) translateX(0);
  }

  50% {
    transform: rotate(1470deg) scale(10) translateX(0);
    opacity: 1;
  }

  100% {
    transform: rotate(2190deg) scale(15) translateX(0);
    opacity: 0;
  }
}

@keyframes guruguru {
  0% {
    transform: rotate(30deg) scale(1) translateX(0);
  }

  33% {
    transform: rotate(750deg) scale(5) translateX(0);
  }

  50% {
    transform: rotate(1470deg) scale(10) translateX(0);
    opacity: 1;
  }

  100% {
    transform: rotate(2190deg) scale(15) translateX(0);
    opacity: 0;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

.anime_guruguru {
  z-index: 9;
  -webkit-animation-name: guruguru;
          animation-name: guruguru;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

nav .logo {
  width: 60px;
  height: 60px;
  background-image: url("https://pht.qoo-static.com/NuyOBNU1CGmbWlUxjDZOfUMZ43qjtUro8w2FhFU6YRwAoT7rh-VdsYhuPCV_lbI-7j8=w300");
  background-position: center;
  background-size: cover;
}

main #react-card {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main #react-card > div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

main #react-card > div #category-card1 {
  width: 400px;
  height: 500px;
  background-color: #faa;
  border: 1px solid #000;
  border-radius: 20px;
  transform: rotate(30deg);
}

main #react-card > div #category-card2 {
  width: 400px;
  height: 500px;
  background-color: #aaa;
  border: 1px solid #000;
  border-radius: 20px;
  transform: rotate(30deg);
}

main #react-card > div #category-card3 {
  width: 400px;
  height: 500px;
  background-color: #aaf;
  border: 1px solid #000;
  border-radius: 20px;
  transform: rotate(30deg);
}

main #react-card > div #category-card4 {
  width: 400px;
  height: 500px;
  background-color: #ffa;
  border: 1px solid #000;
  border-radius: 20px;
  transform: rotate(30deg);
}

main #react-card > div #category-card5 {
  width: 400px;
  height: 500px;
  background-color: #e5e;
  border: 1px solid #000;
  border-radius: 20px;
  transform: rotate(30deg);
}

