@-webkit-keyframes card_to_middle {
  33% {
    transform: rotate(0);
  }

  66% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes card_to_middle {
  33% {
    transform: rotate(0);
  }

  66% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}

@-webkit-keyframes up_to_disappear {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
  }
}

@keyframes up_to_disappear {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
  }
}

@-webkit-keyframes left_to_disappear {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes left_to_disappear {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes guruguru {
  0% {
    transform: rotate(30deg) scale(1) translateX(0);
  }

  33% {
    transform: rotate(-690deg) scale(2) translateX(0);
  }

  66% {
    transform: rotate(-1410deg) scale(6) translateX(0);
  }

  100% {
    transform: rotate(-2130deg) scale(15) translateX(0);
  }
}

@keyframes guruguru {
  0% {
    transform: rotate(30deg) scale(1) translateX(0);
  }

  33% {
    transform: rotate(-690deg) scale(2) translateX(0);
  }

  66% {
    transform: rotate(-1410deg) scale(6) translateX(0);
  }

  100% {
    transform: rotate(-2130deg) scale(15) translateX(0);
  }
}

.disappear {
  -webkit-animation-name: up_to_disappear;
          animation-name: up_to_disappear;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.anime_guruguru {
  z-index: 9;
  -webkit-animation-name: card_to_middle;
          animation-name: card_to_middle;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

html,
body {
  padding: 0;
  margin: 0;
}

nav .logo {
  width: 60px;
  height: 60px;
  background-image: url("https://pht.qoo-static.com/NuyOBNU1CGmbWlUxjDZOfUMZ43qjtUro8w2FhFU6YRwAoT7rh-VdsYhuPCV_lbI-7j8=w300");
  background-position: center;
  background-size: cover;
}

main #react-card {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main #react-card > div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

main #react-card > div #category-card1 {
  width: 400px;
  height: 500px;
  background-color: #faa;
  border: 1px solid #000;
  border-radius: 20px;
  transform: rotate(30deg);
}

main #react-card > div #category-card2 {
  width: 400px;
  height: 500px;
  background-color: #aaa;
  border: 1px solid #000;
  border-radius: 20px;
  transform: rotate(30deg);
}

main #react-card > div #category-card3 {
  width: 400px;
  height: 500px;
  background-color: #aaf;
  border: 1px solid #000;
  border-radius: 20px;
  transform: rotate(30deg);
}

main #react-card > div #category-card4 {
  width: 400px;
  height: 500px;
  background-color: #ffa;
  border: 1px solid #000;
  border-radius: 20px;
  transform: rotate(30deg);
}

main #react-card > div #category-card5 {
  width: 400px;
  height: 500px;
  background-color: #e5e;
  border: 1px solid #000;
  border-radius: 20px;
  transform: rotate(30deg);
}

