@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);html,
body {
  padding: 0;
  margin: 0;
}

#react-main {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#react-main > div {
  background-image: url("https://images.pexels.com/photos/4245826/pexels-photo-4245826.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

#react-main > div .loading-effect {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

#react-main > div .loading-effect h1.loader {
  text-align: center;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-size: 4.6875em;
  color: transparent;
  letter-spacing: 0.01em;
}

#react-main > div .loading-effect .loader span {
  text-shadow: 0 0 2px rgba(204, 208, 212, 0.9), 0 15px 25px rgba(0, 0, 0, 0.3), 0 -2px 3px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3), 0 3px 4px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.45);
  -webkit-animation: loading 0.85s ease-in-out infinite alternate;
          animation: loading 0.85s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
  to {
    text-shadow: 0 0 2px rgba(204, 208, 212, 0.2), 0 0 3px rgba(0, 0, 0, 0.02), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes loading {
  to {
    text-shadow: 0 0 2px rgba(204, 208, 212, 0.2), 0 0 3px rgba(0, 0, 0, 0.02), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(255, 255, 255, 0);
  }
}

#react-main > div .loading-effect .loader span:nth-child(2) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

#react-main > div .loading-effect .loader span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#react-main > div .loading-effect .loader span:nth-child(4) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

#react-main > div .loading-effect .loader span:nth-child(5) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#react-main > div .loading-effect .loader span:nth-child(6) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

#react-main > div .loading-effect .loader span:nth-child(7) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

#react-main > div nav {
  width: 100%;
  height: 120px;
}

#react-main > div nav img {
  max-width: 100%;
  max-height: 100px;
  padding: 10px;
}

#react-main > div .undone-page {
  width: 100%;
  height: calc(100vh - 120px);
  margin: 0;
  padding: 0;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
}

#react-main > div .container {
  width: 100%;
  height: calc(100vh - 120px);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#react-main > div .container .row .columns ul.ca-menu {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  list-style: none;
}

#react-main > div .container .row .columns ul.ca-menu li a {
  width: 250px;
  height: 400px;
  margin: 0;
  padding: 0 25px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 300ms linear;
}

#react-main > div .container .row .columns ul.ca-menu li a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

#react-main > div .container .row .columns ul.ca-menu li a:hover h2 {
  color: #55a2a6;
}

#react-main > div .container .row .columns ul.ca-menu li a i {
  font-size: 72px;
}

#react-main > div .container .row .columns ul.ca-menu li a div.ca-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#react-main > div .container .row .columns ul.ca-menu li a div.ca-content > * {
  text-align: center;
}

#react-main > div .person-container {
  width: calc(100% - 40px);
  height: calc(100vh - 120px - 40px);
  background-color: rgba(255, 255, 255, 0.7);
  margin: 20px;
  overflow-y: scroll;
}

#react-main > div .person-container .main-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#react-main > div .person-container .main-content > * {
  padding: 10px;
}

#react-main > div .person-container .main-content .img-face {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

#react-main > div .person-container .main-content .img-face img {
  max-width: 100%;
  max-height: 100%;
}

#react-main > div .person-container .main-content .person-desc-face {
  width: 50%;
}

#react-main > div .person-container .main-content .person-desc-face .person-desc {
  font-size: 28px;
}

#react-main > div .person-container .sub-content {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#react-main > div .person-container .sub-content > * {
  padding: 10px;
}

#react-main > div .person-container .sub-content .img-face {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

#react-main > div .person-container .sub-content .img-face img {
  max-width: 100%;
  max-height: 100%;
}

#react-main > div .person-container .sub-content .person-desc-face {
  width: 50%;
}

#react-main > div .person-container .sub-content .person-desc-face .person-desc {
  font-size: 28px;
}

#react-main > div .inner-container {
  width: 100%;
  height: calc(100vh - 120px);
}

#react-main > div .inner-container > ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  list-style: none;
}

@media (max-width: 1600px) {
  #react-main > div .inner-container > ul {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow-y: scroll;
  }
}

@media (max-width: 1070px) {
  #react-main > div .inner-container > ul {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    overflow-y: scroll;
  }
}

#react-main > div .inner-container > ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

#react-main > div .inner-container > ul li > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

#react-main > div .inner-container > ul li > a section.display-block {
  width: 500px;
  height: 300px;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b090e48e;
  cursor: pointer;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
  color: #000000;
}

#react-main > div .inner-container > ul li > a section.display-block:hover {
  transform: translate(5px, 5px);
  transition-duration: 0.4s;
  box-shadow: none;
}

#react-main > div .inner-container > ul li > a section.display-block:hover {
  background-color: #5c2da78e;
}

#react-main > div .inner-container > ul li > a section.display-block h1 {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  font-size: 72px;
  font-family: "cwTeXYen";
}

#react-main > div .inner-container > ul li > a section.display-block i {
  font-size: 36px;
}

#react-main > div .pomodoro {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#react-main > div .pomodoro .clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  position: relative;
  padding: 2rem;
  background-color: rgba(255, 255, 170, 0.5);
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

#react-main > div .pomodoro .clock .clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

#react-main > div .pomodoro .clock .clock-face .hour-hand {
  width: 50%;
  height: 15px;
  background: black;
  position: absolute;
  top: 50%;
  transform: rotate(calc((90deg + 0deg)));
  transform-origin: right;
  border-radius: 15px;
}

#react-main > div .pomodoro .clock .clock-face .min-hand {
  width: 50%;
  height: 10px;
  background: black;
  position: absolute;
  top: 50%;
  transform: rotate(calc((90deg + 0deg)));
  transform-origin: right;
  border-radius: 10px;
}

#react-main > div .pomodoro .clock .clock-face .second-hand {
  width: 50%;
  height: 5px;
  background: black;
  position: absolute;
  top: 50%;
  transform: rotate(calc((90deg + 0deg)));
  transform-origin: right;
  border-radius: 5px;
}

#react-main > div .pomodoro .number-clock {
  border-radius: 10px;
  border: 10px solid #fff;
}

#react-main > div .pomodoro .number-clock .number-clock-face {
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  padding: 10px;
  display: flex;
  background-color: rgba(84, 0, 110, 0.5);
  font-size: 72px;
}

#react-main > div .vocabulary-container {
  width: 100%;
  height: calc(100vh - 120px);
  margin: 0;
  padding: 0;
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "V1 V2 V3 V4 V5 " "V6 V7 V8 V9 V10 " "B B B B B";
}

@media (max-width: 1400px) {
  #react-main > div .vocabulary-container {
    width: 100%;
    height: 150vh;
    margin: 0;
    padding: 0;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "V1 V2 V3" "V4 V5 V6" "V7 V8 V9" ". V10 . " "B B B";
  }
}

@media (max-width: 770px) {
  #react-main > div .vocabulary-container {
    width: 100%;
    height: 300vh;
    margin: 0;
    padding: 0;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "V1" "V2" "V3" "V4" "V5" "V6" "V7" "V8" "V9" "V10" "B";
  }
}

#react-main > div .vocabulary-container .vocabulary1 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-area: V1;
  background-color: rgba(255, 255, 255, 0.4);
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "VS" "ES" "ES" "ES" "ES";
  overflow: auto;
}

#react-main > div .vocabulary-container .vocabulary1 .vocabulary-section {
  grid-area: VS;
  font-size: 36px;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0 10px;
  text-align: center;
}

#react-main > div .vocabulary-container .vocabulary1 .explain-section {
  grid-area: ES;
  font-size: 22px;
  padding: 0 10px;
}

#react-main > div .vocabulary-container .vocabulary2 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-area: V2;
  background-color: rgba(255, 255, 255, 0.4);
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "VS" "ES" "ES" "ES" "ES";
  overflow: auto;
}

#react-main > div .vocabulary-container .vocabulary2 .vocabulary-section {
  grid-area: VS;
  font-size: 36px;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0 10px;
  text-align: center;
}

#react-main > div .vocabulary-container .vocabulary2 .explain-section {
  grid-area: ES;
  font-size: 22px;
  padding: 0 10px;
}

#react-main > div .vocabulary-container .vocabulary3 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-area: V3;
  background-color: rgba(255, 255, 255, 0.4);
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "VS" "ES" "ES" "ES" "ES";
  overflow: auto;
}

#react-main > div .vocabulary-container .vocabulary3 .vocabulary-section {
  grid-area: VS;
  font-size: 36px;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0 10px;
  text-align: center;
}

#react-main > div .vocabulary-container .vocabulary3 .explain-section {
  grid-area: ES;
  font-size: 22px;
  padding: 0 10px;
}

#react-main > div .vocabulary-container .vocabulary4 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-area: V4;
  background-color: rgba(255, 255, 255, 0.4);
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "VS" "ES" "ES" "ES" "ES";
  overflow: auto;
}

#react-main > div .vocabulary-container .vocabulary4 .vocabulary-section {
  grid-area: VS;
  font-size: 36px;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0 10px;
  text-align: center;
}

#react-main > div .vocabulary-container .vocabulary4 .explain-section {
  grid-area: ES;
  font-size: 22px;
  padding: 0 10px;
}

#react-main > div .vocabulary-container .vocabulary5 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-area: V5;
  background-color: rgba(255, 255, 255, 0.4);
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "VS" "ES" "ES" "ES" "ES";
  overflow: auto;
}

#react-main > div .vocabulary-container .vocabulary5 .vocabulary-section {
  grid-area: VS;
  font-size: 36px;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0 10px;
  text-align: center;
}

#react-main > div .vocabulary-container .vocabulary5 .explain-section {
  grid-area: ES;
  font-size: 22px;
  padding: 0 10px;
}

#react-main > div .vocabulary-container .vocabulary6 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-area: V6;
  background-color: rgba(255, 255, 255, 0.4);
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "VS" "ES" "ES" "ES" "ES";
  overflow: auto;
}

#react-main > div .vocabulary-container .vocabulary6 .vocabulary-section {
  grid-area: VS;
  font-size: 36px;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0 10px;
  text-align: center;
}

#react-main > div .vocabulary-container .vocabulary6 .explain-section {
  grid-area: ES;
  font-size: 22px;
  padding: 0 10px;
}

#react-main > div .vocabulary-container .vocabulary7 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-area: V7;
  background-color: rgba(255, 255, 255, 0.4);
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "VS" "ES" "ES" "ES" "ES";
  overflow: auto;
}

#react-main > div .vocabulary-container .vocabulary7 .vocabulary-section {
  grid-area: VS;
  font-size: 36px;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0 10px;
  text-align: center;
}

#react-main > div .vocabulary-container .vocabulary7 .explain-section {
  grid-area: ES;
  font-size: 22px;
  padding: 0 10px;
}

#react-main > div .vocabulary-container .vocabulary8 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-area: V8;
  background-color: rgba(255, 255, 255, 0.4);
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "VS" "ES" "ES" "ES" "ES";
  overflow: auto;
}

#react-main > div .vocabulary-container .vocabulary8 .vocabulary-section {
  grid-area: VS;
  font-size: 36px;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0 10px;
  text-align: center;
}

#react-main > div .vocabulary-container .vocabulary8 .explain-section {
  grid-area: ES;
  font-size: 22px;
  padding: 0 10px;
}

#react-main > div .vocabulary-container .vocabulary9 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-area: V9;
  background-color: rgba(255, 255, 255, 0.4);
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "VS" "ES" "ES" "ES" "ES";
  overflow: auto;
}

#react-main > div .vocabulary-container .vocabulary9 .vocabulary-section {
  grid-area: VS;
  font-size: 36px;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0 10px;
  text-align: center;
}

#react-main > div .vocabulary-container .vocabulary9 .explain-section {
  grid-area: ES;
  font-size: 22px;
  padding: 0 10px;
}

#react-main > div .vocabulary-container .vocabulary10 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-area: V10;
  background-color: rgba(255, 255, 255, 0.4);
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "VS" "ES" "ES" "ES" "ES";
  overflow: auto;
}

#react-main > div .vocabulary-container .vocabulary10 .vocabulary-section {
  grid-area: VS;
  font-size: 36px;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 0 10px;
  text-align: center;
}

#react-main > div .vocabulary-container .vocabulary10 .explain-section {
  grid-area: ES;
  font-size: 22px;
  padding: 0 10px;
}

#react-main > div .vocabulary-container .new-vocabulary {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  grid-area: B;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* smoothXY */
}

#react-main > div .vocabulary-container .new-vocabulary .smoothXY {
  position: relative;
  border: 2px solid #b12b2b;
  color: #b12b2b;
  transition: 0.6s;
}

#react-main > div .vocabulary-container .new-vocabulary .smoothXY::before,
#react-main > div .vocabulary-container .new-vocabulary .smoothXY::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b12b2b;
  transition: 0.6s;
}

#react-main > div .vocabulary-container .new-vocabulary button:hover {
  background-color: #b12b2b;
}

#react-main > div .vocabulary-container .new-vocabulary .smoothXY::before {
  transform: rotateX(90deg);
}

#react-main > div .vocabulary-container .new-vocabulary .smoothXY::after {
  transform: rotateY(90deg);
}

#react-main > div .vocabulary-container .new-vocabulary .smoothXY:hover::before,
#react-main > div .vocabulary-container .new-vocabulary .smoothXY:hover::after {
  transform: rotateX(0deg);
  z-index: -1;
}

#react-main > div .vocabulary-container .new-vocabulary .smoothXY:hover {
  color: #fff;
}

#react-main > div .vocabulary-container .new-vocabulary button {
  font-size: 36px;
}

#react-main > div .email-container {
  width: calc(100% - 40px);
  height: calc(100vh - 120px - 40px);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#react-main > div .email-container .email-mid {
  width: 40%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
}

#react-main > div .email-container .email-mid > * {
  padding: 10px;
}

#react-main > div .email-container .email-mid label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 48px;
}

#react-main > div .email-container .email-mid label select {
  text-align: center;
  width: 80%;
  height: 2.5rem;
  font-size: 2rem;
}

#react-main > div .email-container .email-mid label textarea {
  width: 80%;
  font-size: 1.5rem;
}

#react-main > div .email-container .email-mid .action {
  display: flex;
  justify-content: space-evenly;
}

#react-main > div .email-container .email-mid .action button {
  font-size: 28px;
}

